/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color:#7857fe;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #7857fe;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    position:relative;
    -webkit-box-reflect: below -15px linear-gradient(transparent,#0004);

}
.logo span{
    animation:animate 5s linear infinite;

}
.logo span:nth-child(even){
    animation-delay: 0.4s;
}
@keyframes animate {
  0%,18%,20%,50.1%,60%,65.1%,80%,90%,91.1%,92%
  {
      color:#0e3742;
      text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90.1%,92.1%,100%
  {
      color:#fff;
      
      text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4,
      0 0 400px #03bcf4;
  }
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    
}
.navbar .logo a span{
    color:#7857fe;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    position:relative;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: -4px;
    padding:10px 20px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px linear-gradient(red,pink);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    z-index: 1000;
    transition: color 0.3s ease;
    overflow:hidden;
    transition: 0.5s;
}
.navbar .menu li:first-child a{
    border-bottom-left-radius: 30px;
}
.navbar .menu li:last-child a{
    border-bottom-right-radius: 30px;
}
.navbar .menu li a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
    color: #fff;
    transform: translate(-40px,0px);
}
.navbar.sticky .menu li a:hover{
    background: none;
    color: rgb(2, 2, 2);
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background:#7857fe ;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* home section styling */
.home{
    display: flex;
    background: url("home.gif") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;   
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{ 
    color:#7857fe;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #7857fe;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #7857fe;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #7857fe;
    background: none;
}

/* about section styling */
.about{
    background: #161623;
}
.about .title{
    color:#fff;
}
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow:  20px 20px 50px rgba(0,0,0,0.5),
    50px 50px 90px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#fff;
}
.about .about-content .right .text span{
    color: #7857fe;
}
.about .about-content .right p{
    text-align: justify;
    color:#fff;
}
.about .about-content .right a{
    display: inline-block;
    background: #7857fe;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #7857fe;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #7857fe;
    background: none;
}
/* services section styling */
.teams{
    color:#fff;
    background: #161623;
}
#services{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: #161623;
}
.ccd:before{
    content:'';
    position: absolute;
    top:1410px;
    left:0;
    width: 100%;
    height: 98%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 80%);
}
.ccd:after{
    content:'';
    position: absolute;
    top:1410px;
    left:0;
    width: 100%;
    height: 70%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(25% at left 63%);
}

.services .title{
    color:white;
    top:-250px;
    margin-left: -74px;
    left: 501px;
} 
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    z-index: 1;
}
.container1 .card
{
    position: relative;
    width:250px;
    height:400px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin: 20px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container1 .card i{
    font-size: 50px;
    color: #fff;
    transition: color 0.3s ease;
}
.services .container1 .card:hover i{
    color: #7857fe;
}
.container1 .card .content{
    padding:20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container1 .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container1 .card .content h3{
    font-size: 1.8em;
    color:#fff;
    z-index: 1;
}
.container1 .card .content p{
    font-size: 1em;
    color:#fff;
    font-weight: 300;

}
.container1 .card .content a{
    position:relative;
    display: inline-block;
    padding:8px 20px;
    margin-top: 15px;
    background: #fff;
    color:#000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.container1 .card .content a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}
/* experience */
.skills{
    background: #161623;
}
.containers{
    display: inline-block;
    position: relative;
    margin:0 400px;
}
.containers h2{
color:#fff;
}
.wrapper .column{
    display: inline-block;
    width: 400px;
    margin: 10px 30px;
}
.skills .containers .skill{
    position: relative;
    display: flex;
   margin: 3px;
    padding:24px 10px 18px;
    width:700px;
    background: linear-gradient(#616161 0% ,#333 10% , #222);
    border-radius: 5px;
    overflow: hidden;
    border:2px solid #000;
    transition: 0.5s;
}
.skills .containers:hover .skill{
    opacity: 0.05;
}
.skills .containers .skill:hover{
    opacity: 1;
    transform: scale(1.1);
}
.skills .containers .skill::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 50%;
    background: rgba(255,255,255,.1);
    z-index: 10;
}
.skills .containers .skill .name{
    position: relative;
    width:110px;
    text-align: right;
    color:#fff;
    text-transform: uppercase;
}
.skills .containers .skill .value{
    position: relative;
    width:40px;
    text-align: left;
    color:#fff;
    text-transform: uppercase;
}
.containers .skill .percent{
    position: relative;
    width: calc(100% - 150px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}
.containers .skill .progress{
    position: absolute;
    top:0;
    left:0;
    width:70%;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 0 2px #000;
    animation:animates 4s ease-in-out forwards;

}
.containers .skill:nth-child(2) .progress{
    background: linear-gradient(45deg,#1fe6ff,#673AB7);

}
.containers .skill:nth-child(3) .progress{
    background: linear-gradient(45deg,#3bc0ff,#33ff00);

}
.containers .skill:nth-child(4) .progress{
    background: linear-gradient(45deg,#ffee54,#ff00ca);

}
.containers .skill:nth-child(5) .progress{
    background: linear-gradient(45deg,#22ffde,#2196F3);

}
@keyframes animates{
    from
    {
       width: 0;
    }
}
/* teams section styling */
.teams .title::after{
    content: "";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #7857fe;
    /* background: crimson; */
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
   
}
.teams .carousel .card .text a{
    color:#fff;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #7857fe;
    /* border: 5px solid crimson; */
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #7857fe!important;
    /* border: 2px solid crimson!important; */
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #7857fe!important;
    
}
/* contact section styling */
.contact{
    background: url("winter.jpg") no-repeat;
    background-size:cover ;
    opacity: 0.9;
    
}
.contact .title{
    color:#fff;
}
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#fff;
}
.contact .contact-content .left p{
    text-align: justify;
    color:#fff;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #7857fe;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #7857fe;
  border: 2px solid #7857fe;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #7857fe;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
.toggle{
    top:0;
    right:300px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: -8px 18px;
    align-items: center;
    background:#fff url("facebookI.png");
    background-size: 30px;
    box-shadow: inset -1px -1px 2px rgba(231, 217, 217, 0.2),
    2px 2px 5px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: center;
    z-index:100000;
    transition: 0.5s;
}
ul .toggle:hover{
    transform: translateY(-20px);
    
}
.toggle1{
    top:0;
    right:300px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: -8px 18px;
    align-items: center;
    background:#fff url("linkedinI.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index:100000;
    transition: 0.5s;
}
ul .toggle1:hover{
    transform: translateY(-20px);
}
.toggle2{
    top:0;
    right:300px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: -8px 18px;
    align-items: center;
    background:#fff url("instagramI.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index:100000;
    transition: 0.5s;
}
.toggle3{
    top:0;
    right:300px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: -8px 18px;
    align-items: center;
    background:#fff url("twitterI.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index:100000;
    transition: 0.5s;
}
ul .toggle2:hover{
    transform: translateY(-20px);

}
ul .toggle3:hover{
    transform: translateY(-20px);
}
footer ul{
    display: flex;
    position: relative;
    align-items: center;
}
footer li{
    list-style: none;
    position:relative;
    display: flex;
}
footer span a{
    color: #7857fe;
    /* color: crimson; */
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}